
{%extends 'base.html' %}
{%block title %}REGISTRO{%endblock%}

{%block content %}

<h1>REGISTRO</h1>
<div class="container">
    {%if messages %}

    <ul class="messages">
        {%for msg in messages %}
        <li>
            <div class="alert alter-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
        </li>

        {% endfor %}
    </ul>

    {%endif%}


<p>FORMULARIO DE CADASTROS</p>
<form action="{% url 'addUser' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label ><b>Username:</b></label>
        {{form.username}}
    </div>
     <div class="form-group">
    <label >Password:</label>
        {{form.password}}
  </div>


    <div class="form-group">
    <label>Email:</label>
         {{form.email}}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>


  <button type="submit" class="btn btn-primary">Cadastrar</button>


</form>
</div>

{% endblock %}

>